.navic{
    height: 45px;
    width: 45px;
    display: inline;
    margin-top: 18px;
    margin-left: 40px;
}
.nav {
    background-color:#D9D9D9;
    overflow: hidden;
    min-height: 40px;
    position: relative;
    animation: glowing1 50s infinite;
    margin: 0 0 0 0;
  }
  
  .nav a {
    float: right;
    color: #383E56;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 22px;
    margin-top: 18px;
    margin-right: 30px;
    margin-bottom: 10px;
  }
  .nav a:hover {
    color: #D87C7C;
    background-color: #f3d9d9
  }
  
  .nav a.por {
    color: #D87C7C;
    font-size: 25px;
    margin-right: 730px;
  }
  .zoom {
    padding: 50px; 
    transition: transform .2s;
  }
  .zoom:hover {
    transform: scale(1.2);
    position: relative;
    animation: glowing1 50s infinite;
  }
  .bdy{
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    background-color: #383E56;
 
  }
  .circle {
    height: 400px;
    width: 400px;
    margin-right: 70px;
    margin-top: 140px;
    background-color: rgb(243, 236, 236);
    border-radius: 50%;
    display: inline-block;
    float: right;
    
    position: absolute;
    right: 0;

  }
  .squa{
    height: 350px;
    width: 400px;
    margin-right: 70px;
    margin-top: 360px;
    background-color: rgb(243, 236, 236);
    display: inline-block;
   
    position: absolute;
    right: 0;
   
  }
  .doc{
    margin-top: 170px;
    margin-right: 200px;
    display: inline-block;
    position: absolute;
    right: 0;
    height: 540px;
    width: 330px;


  }
  .doc1{
    margin-top: 260px;
    margin-right: 0px;
    display: inline-block;
    position: absolute;
    right: 0;
    height: 450px;
    width: 330px;
  }
  .icc{
    height: 90px;
    width: 90px;
    float: left;
    margin-top: 45px;
  }
  .content{
    margin-top: 90px;
    width: 50%;
    margin-left: 130px;
    display: inline-block;
  }
  .h12{
    font-size: 3em;
    margin-left: 120px;
    margin-bottom: 10px;
    color: #DD7A7B;
  }
  .h11{
    font-size: 3em;
    margin-left: 120px;
    margin-top: 10px;
    color: #DD7A7B;
  }
  .blockk{
    margin-top: 40px;
    width: 180px;
    
    border-right: 1px solid;
    border-top: 0px;
    border-left: 0px;
    border-bottom: 0px;
    color: white;
    padding: 40px;
    margin: 10px;
    display: inline-block;
    text-align: center;
  }
  .bx{
    margin-top: -20px;
    font-size: 3em;
    position: absolute;
   
  }
  .b1{
    margin-top: 38px;
  }
  .allbx{
    margin-top: 80px;
    margin-left: 30px;
  }
  .txt{
    margin-top: 40px;
    color: #e8cbcb;
    margin-left: 20px;
  }




  button {
    position: relative;
    padding: 12px 35px;
    background: #f0abac;
    font-size: 17px;
    font-weight: 500;
    color: #181818;
    border: 3px solid #c7809f;
    border-radius: 8px;
    box-shadow: 0 0 0 #fec1958c;
    transition: all .3s ease-in-out;
  }
  
  .star-1 {
    position: absolute;
    top: 20%;
    left: 20%;
    width: 25px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
  }
  
  .star-2 {
    position: absolute;
    top: 45%;
    left: 45%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
  }
  
  .star-3 {
    position: absolute;
    top: 40%;
    left: 40%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
  }
  
  .star-4 {
    position: absolute;
    top: 20%;
    left: 40%;
    width: 8px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all .8s cubic-bezier(0, 0.4, 0, 1.01);
  }
  
  .star-5 {
    position: absolute;
    top: 25%;
    left: 45%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all .6s cubic-bezier(0, 0.4, 0, 1.01);
  }
  
  .star-6 {
    position: absolute;
    top: 5%;
    left: 50%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all .8s ease;
  }
  
  button:hover {
    background: transparent;
    color: #f0abac;
    box-shadow: 0 0 25px #fec1958c;
  }
  
  button:hover .star-1 {
    position: absolute;
    top: -80%;
    left: -30%;
    width: 25px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
  }
  
  button:hover .star-2 {
    position: absolute;
    top: -25%;
    left: 10%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
  }
  
  button:hover .star-3 {
    position: absolute;
    top: 55%;
    left: 25%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
  }
  
  button:hover .star-4 {
    position: absolute;
    top: 30%;
    left: 80%;
    width: 8px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
  }
  
  button:hover .star-5 {
    position: absolute;
    top: 25%;
    left: 115%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
  }
  
  button:hover .star-6 {
    position: absolute;
    top: 5%;
    left: 60%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
  }
  
  .fil0 {
    fill: #FFFDEF
  }
  .bn{
    margin-top: 60px;
    margin-left: 30px;
  }







  @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
::selection{
  color: #fff;
}
.wrapper{
  overflow: hidden;
  max-width: 390px;
  background: #f0abac;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
  text-align: center;
  float: right;
  display: inline-block;
  margin-right: 170px;
  width: 50%;
  
}
.wrapper .title-text{
  display: flex;
  width: 200%;
}
.wrapper .title{
  width: 50%;
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}
.wrapper .slide-controls{
  position: relative;
  display: flex;
  height: 50px;
  width: 100%;
  overflow: hidden;
  margin: 30px 0 10px 0;
  justify-content: space-between;
  border: 1px solid lightgrey;
  border-radius: 5px;
}
.slide-controls .slide{
  height: 100%;
  width: 100%;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  line-height: 48px;
  cursor: pointer;
  z-index: 1;
  transition: all 0.6s ease;
}
.slide-controls label.signup{
  color: #000;
}
.slide-controls .slider-tab{
  position: absolute;
  height: 100%;
  width: 50%;
  left: 0;
  z-index: 0;
  border-radius: 5px;
  background: -webkit-linear-gradient(left, #ee9fa1, #c25456);
  transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}
input[type="radio"]{
  display: none;
}
#signup:checked ~ .slider-tab{
  left: 50%;
}
#signup:checked ~ label.signup{
  color: #fff;
  cursor: default;
  user-select: none;
}
#signup:checked ~ label.login{
  color: #000;
}
#login:checked ~ label.signup{
  color: #000;
}
#login:checked ~ label.login{
  cursor: default;
  user-select: none;
}
.wrapper .form-container{
  width: 100%;
  overflow: hidden;
}
.form-container .form-inner{
  display: flex;
  width: 200%;
}
.form-container .form-inner form{
  width: 50%;
  transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}
.form-inner form .field{
  height: 50px;
  width: 100%;
  margin-top: 20px;
}
.form-inner form .field input{
  height: 100%;
  width: 100%;
  outline: none;
  padding-left: 15px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  border-bottom-width: 2px;
  font-size: 17px;
  transition: all 0.3s ease;
}
.form-inner form .field input:focus{
  border-color: #c25456;
  /* box-shadow: inset 0 0 3px #c25456; */
}
.form-inner form .field input::placeholder{
  color: #999;
  transition: all 0.3s ease;
}
form .field input:focus::placeholder{
  color: #b3b3b3;
}
.form-inner form .pass-link{
  margin-top: 5px;
}
.form-inner form .signup-link{
  text-align: center;
  margin-top: 30px;
}
.form-inner form .pass-link a,
.form-inner form .signup-link a{
  color: #c25456;
  text-decoration: none;
}
.form-inner form .pass-link a:hover,
.form-inner form .signup-link a:hover{
  text-decoration: underline;
}
form .btn{
  height: 50px;
  width: 100%;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}
form .btn .btn-layer{
  height: 100%;
  width: 300%;
  position: absolute;
  left: -100%;
  background: -webkit-linear-gradient(right, #ee9fa1, #c25456, #ee9fa1, #c25456);
  border-radius: 5px;
  transition: all 0.4s ease;;
}
form .btn:hover .btn-layer{
  left: 0;
}
form .btn input[type="submit"]{
  height: 100%;
  width: 100%;
  z-index: 1;
  position: relative;
  background: none;
  border: none;
  color: #fff;
  padding-left: 0;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}



.pp{
  
    width: 50%;
    display: inline-block;
    color: white;
}
.loginn{
    margin-top: 190px;
    margin-bottom: 40px;
}
.iiii{
    margin-left: 150px;
    height: 550px;
    width: 510px;
    margin-top: -30px;
    position: relative;
    -webkit-animation: movers 2s infinite  alternate;
    animation: movers 2s infinite  alternate;
}

  @keyframes mymove {
  from {left: 20px;}
  to {left: 0px;}
}
 @keyframes mymove1 {
    from{right:20px;}
    to{right:0px}
 }
@-webkit-keyframes movers {
    0% { transform: translateY(0); }
    100% { transform: translateY(-30px); }
}
@keyframes movers {
    0% { transform: translateY(0); }
    100% { transform: translateY(-30px); }
}







.abtheading{
    text-align: center;
    color: #dd7b7d;
    margin-top: 100px;
    margin-bottom: 70px;
    font-size: 2.2rem;
  }

  .abtcard1 {
    width: 30%;
    height: 300px;
    border-radius: 10px;
    display: inline-block;
    text-align: center;
    color: #383E56;
    background-color: #f0abac;
    margin-left: 100px;
    margin-right: 140px;
    -webkit-animation: movers11 2s alternate;
    animation: movers11 2s alternate;
    }

    @-webkit-keyframes movers11 {
        0% { transform: translateX(0); }
        100% { transform: translateX(0); }
    }
    @keyframes movers11 {
        0% { transform: translateX(-190px); }
        100% { transform: translateX(0); }
    }

    .abtcard2 {
        width: 30%;
        height: 300px;
        border-radius: 10px;
        display: inline-block;
        text-align: center;
        color: #383E56;
        background-color: #f0abac;
        margin-left: 100px;
        margin-right: 140px;
        -webkit-animation: movers12 2s alternate;
        animation: movers12 2s alternate;
        }
    
        @-webkit-keyframes movers12 {
            0% { transform: translateX(0); }
            100% { transform: translateX(0); }
        }
        @keyframes movers12 {
            0% { transform: translateX(140px); }
            100% { transform: translateX(0px); }
        }















  
  .abtbutton {
    background-color: #ee9fa1;
    border: #b26668;
    color: black;
    border: 2px solid #b16d70;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 24px;
    cursor: pointer;
    border-radius: 16px;
  }
  .abtbutton:hover {
    color: #d57a7d;
    background-color: #383E56;
    position: relative;
    animation: glowing 50s infinite;
  }
  .abtbdy{
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
  }
  .services{
    margin-top:0px;
    margin-bottom: 200px;
    height: 600px;
  }
.serd{
    background-color: #D9D9D9;
    height: 780px;
}



  .conh1{
    font-size: 3em;
    text-align: center;
    color: white;
  }
  input[type=text] {
    width: 35%;
    padding: 12px 20px;
    margin: 8px 0;
    background-color: #383D4D;
    display: inline-block;
    border-radius: 15px 50px;
    color: #BEFFFF;
    
  }
  
  input[type=text]:focus {
    background-color: #BEFFFF;
    color: black;
  }
.contf{
    text-align: center;
}
#msg{
    height: 250px;
    width: 800px;
    border-radius: 15px;
}
.conbutton {
    background-color: #00F0FF;
    border: #2E8191;
    color: black;
    border: 2px solid #2E8191;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
  }
.conbutton:hover {
    color: #0c0c0c;
    background-color: #2d407f;
    position: relative;
    animation: glowing 50s infinite;
  }
.contact{
    margin-bottom: 100px;
}
.ab{
    height: 770px;
    width: 100%;
    background-color: #D9D9D9;
    margin-top: -64px;
}
.abb{
    width: 80%;
    margin-left: 150px;
    margin-top: 100px;
    padding-top: 100px;
}




.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
    border-radius: 10px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 10px;
  }
  
  .flip-card-front {
    background-color: #bbb;
    color: black;
    border-radius: 10px;
  }
  
  .flip-card-back {
    background-color: #ee9fa1;
    color: #383E56;
    transform: rotateY(180deg);
    border-radius: 10px;
  }
